build/*
CS224w_Project.xcodeproj/xcuserdata/*

CS224w_Project.xcodeproj/xcuserdata/Mikey.xcuserdatad/xcschemes/CS224w_Project.xcscheme

CS224w_Project/itcont.txt

CS224w_Project/2015_2016/itcont.txt

CS224w_Project/2007_2008/itcont.txt
CS224w_Project/2007_2008/itoth.txt

CS224w_Project.xcodeproj/project.xcworkspace/xcshareddata/CS224w_Project.xccheckout

CS224w_Project.xcodeproj/project.xcworkspace/xcuserdata/ES.xcuserdatad/UserInterfaceState.xcuserstate
data/*
